/*===== FONTE ======*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*======  RESET  =======*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
}

:root {
    --text-color-gray: #667085;
    --btn-bg: #8E2424;
    --text-color-red: #8E2424;
    --text-color-darkblue: #101828;
}
/*====== MENU ======*/

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.menu-style {
    color: var(--text-color-gray);
}

/*==== Estilo do botao de cadastrar ======*/
.registration {
    padding: 0.8rem;
}
.btn-style {
    color: #FFFFFF;
    background-color: var(--btn-bg);
    border-radius: 10px;
}

/*==== Botaes de Entrar e Cadastrar =====*/

.menu-open {
    width: 20rem;
    word-spacing: 2rem;
    text-align: right;
}

/*===== SOBRE NOS ========*/

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.section-title {
    padding: 1rem;
}
.section-about-us--desc {
    text-align: center;
}
.section-metricas {
    display: flex;
    margin: 3rem;
}

.section-about-us--item {
    margin: 1rem;
}

.section-metricas--name {
    display: flex;
    flex-direction: column;
}

/*==== ESTILO DA SECAO SOBRE NOS======*/
.section-about-us {
    color: var(--text-color-red);
    font-weight: bold;
}
.section-about-us--desc {
    color: var(--text-color-gray);
    line-height: 1.6rem;
}
.section-about-us--title {
    color: var(--text-color-darkblue);
    margin: 1rem;
}

/*====ESTILO DAS METRICAS====*/
.section-number {
    color: var(--text-color-red);
    font-size: 3em;
    font-weight: bold;
}

.section-metricas--name {
    color: var(--text-color-darkblue);
    line-height: 2.6rem;
    font-weight: bold;
}
.section-desc {
    color: var(--text-color-gray);
}
/*==== VAGAS =====*/
.section-talents {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-team {
    width: 80%;
    margin: 3rem;
}

/*=====ESTILO DE VAGAS=====*/

.section-talents--alert {
    background-color: rgb(247, 211, 211);
    padding: 0.6rem;
    border-radius: 30px;
    color: var(--text-color-red);
    font-weight: bold;
}

.talents-style {
    color: var(--text-color-darkblue);
}

.talents-style--desc {
    color: var(--text-color-gray);
}

.section-title,
.title-talents {
    color: var(--text-color-darkblue);
    font-weight: bold;
}

.section-talents--area {
    border: 1px solid #D0D5DD;
    padding: 2.6rem;
    margin: 1rem;
    border-radius: 10px;
    width: 130%;

}
.talents-desc {
    display: flex;
    gap: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    color: var(--text-color-gray);
}


/*=== SECTION COLABORADORES ======*/

.section-collaborators,
.section-new-collaborators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    text-align: center;
}

.section-title {
    padding: 1rem;
}

.section-name {
    line-height: 2.6rem;
}

/*===== COLABORADORES ==========*/
.collaborators-style {
    background-color: rgb(250, 233, 233);
    padding: 3rem;
    border-radius: 10px;
}

/*== ESTILO COLABORADORES =======*/
.section-desc--collaboarators {
    color: var(--text-color-red);
    font-weight: bold;
}
.area-style {    
    color: var(--text-color-darkblue);
}
.title-style {
    color: var(--text-color-darkblue);
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    font-weight: bold;
}
.section-name {
    color: var(--text-color-darkblue);
    font-weight: bold;
}
.title-style--item {
    color: var(--text-color);
    font-weight: normal;
}

.section-occupation {
    color: var(--text-color-gray);
}
/*====SECTION FOOTER========*/

.section-title {
    padding: 1rem;
    line-height: 2.6rem;
}

.section-form {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

/*==== ESTILO DO FOOTER =======*/
.section-new-collaborators {
    background-color: #f2f2f3;
    margin: 0;
    padding: 4rem;
}

.section-footer--desc {
    color: var(--text-color-gray);
}
.section-form--email {
    padding: 0.7rem;
    border: 1px solid #D0D5DD;
    border-radius: 7px;
    width: 300px;
}
.section-form--btn {
    background-color: var(--btn-bg);
    border: 0;
    border-radius: 7px;
    padding: 0.7rem;
    color: #FFFFFF;
    cursor: pointer;
}

.section-copyright {
    color: var(--text-color-gray);
    margin: 1rem;
}