/*===== FONTE ======*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*======  RESET  =======*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter';
}

:root {
    --text-color: #667085;
    --btn-bg: #8E2424;
    --text-destaque: #8E2424;
    --text-destaque-2: #101828;
}
/*====== MENU ======*/

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

.menu-style {
    color: var(--text-color);
}

/*====Estilo do botao de cadastrar======*/
.cadastro {
    padding: 0.8rem;
}
.btn-style {
    color: #FFFFFF;
    background-color: var(--btn-bg);
    border-radius: 10px;
}

/*==== Botaes de Entrar e Cadastrar =====*/

.menu-open {
    width: 20rem;
    word-spacing: 2rem;
    text-align: right;
}

/*===== SOBRE NOS ========*/

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}

.section-title {
    padding: 1rem;
}
.section-about-us--desc {
    text-align: center;
}
.section-metricas {
    display: flex;
    margin: 3rem;
}

.section-about-us--item {
    margin: 1rem;
}

.section-metricas--name {
    display: flex;
    flex-direction: column;
}

/*==== ESTILO DA SECAO SOBRE NOS======*/
.section-about-us {
    color: var(--text-destaque);
    font-weight: bold;
}
.section-about-us--desc {
    color: var(--text-color);
    line-height: 1.6rem;
}

/*====ESTILO DAS METRICAS====*/
.section-number {
    color: var(--text-destaque);
    font-size: 3em;
    font-weight: bold;
}

.section-metricas--name {
    color: var(--text-destaque-2);
    line-height: 2.6rem;
    font-weight: bold;
}
.section-desc {
    color: var(--text-color);
}
/*==== VAGAS =====*/
.section-vagas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-team {
    width: 80%;
    margin: 3rem;
}

/*=====ESTILO DE VAGAS=====*/
.section-alert {
    background-color: rgb(245, 212, 212);
    color: var(--text-destaque);
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 20px;
}

.vagas-style {
    color: var(--text-destaque-2);
}

.vagas-style--desc {
    color: var(--text-color);
}
.section-vaga {
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 150%;

}
.section-title,
.title-vaga {
    color: var(--text-destaque-2);
    font-weight: bold;
}

.vaga-desc {
    display: flex;
    gap: 2%;
    line-height: 3.6rem;
}

.desc {
    color: var(--text-color);
}
/*=== SECTION COLABORADORES ======*/

.section-colaboradores,
.section-new-oportunidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    text-align: center;
}

.section-title {
    padding: 1rem;
}

.section-name {
    line-height: 2.6rem;
}

/*===== COLABORADORES ==========*/
.colaboradores-style {
    background-color: rgb(250, 233, 233);
    padding: 3rem;
    border-radius: 10px;
}

/*== ESTILO OPORTUNIDADES=======*/
.area-style {    
    color: var(--text-destaque-2);
}
.title-style {
    color: var(--text-destaque-2);
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    font-weight: bold;

}
.title-style--item {
    color: var(--text-color);
    font-weight: normal;
}
/*====SECTION FOOTER========*/

.section-title {
    padding: 1rem;
    line-height: 2.6rem;
}

.section-form {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}